./idea/workspace.xml
./idea/runConfigurations/
./idea/runConfigurations/*

./idea/**/workspace.xml
./idea/**/tasks.xml
./idea/**/usage.statistics.xml
./idea/**/dictionaries
./idea/**/shelf
./idea/**/contentModel.xml
./idea/**/dataSources/
./idea/**/dataSources.ids
./idea/**/dataSources.local.xml
./idea/**/sqlDataSources.xml
./idea/**/dynamic.xml
./idea/**/uiDesigner.xml
./idea/**/dbnavigator.xml
./idea/**/gradle.xml
./idea/**/libraries

Assignments/stu1/__pycache__/
Assignments/stu1/__pycache__/
Assignments/stu1/__pycache__/*.pyc


Assignments/stu3/__pycache__/
Assignments/stu5/__pycache__/
Assignments/stu6/__pycache__/
Assignments/stu7/__pycache__/
Assignments/stu8/__pycache__/
Assignments/stu9/__pycache__/
Assignments/stu10/__pycache__/

main.py
venv
venv/